.list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    & .item{
        border: 2px solid #000;
        border-radius: 10px;
        padding: 20px 40px;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        &.selected{
            background-color:red;
            border: 2px solid red;
            & span{
                font-weight: 500;
                font-size: 20px;
                color: #fff;
            }
        }
        & span{
            display: block;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}